.lang--picker {
  position: absolute;
  bottom: -15px;
  right: 9px;

  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

  }

  a {
    cursor: pointer;
    opacity: 0.5;
    padding: 0 5px;
    text-transform: uppercase;

    &.active {
      background-color: #000;
      color: #fff;
      opacity: 1;
    }
  }
}
