@import '../../styles/_variables';

.component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--grey-light);
  opacity: 0;
  z-index: 2;
}

.close-button:any-link {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 44px;
  font-family: Garamond, 'Apple Garamond'; /* used for the 'X' */
  color: #fff;
  text-decoration: none;
  font-weight: var(--font-weight-bold);

  &:hover {
    color: var(--blue-link);
  }
}

.colwidth-4 {
  & .close-button:any-link {
    font-size: calc(var(--font-size-base) * 2);
    right: 15px;
    top: 20px;
  }
}
